---
const boxes = [
    {
        link: "https://ips-pillar-assessments.vercel.app/",
        icon: "bi bi-clipboard2-check bg-danger",
        name: "Pillar Assessments",
        text: "Complete the assessment in the Checklist.",
        view: "text-danger"
    },
    {
        link: "#",
        icon: "bi bi-trophy bg-primary",
        name: "BOPs",
        text: "View and submit your best practice here!",
        view: "text-primary"
    },
]
---

<section class="card-systems animate__animated animate__bounceInLeft">
    {
        boxes.map(box => (
            <a class="card shadow" href={box.link}>
                <div class="card-body">
                    <article class="content-card">
                        <div class="content-icon-name">
                            <i class={`icon-boxed ${box.icon}`}></i>
                            <h3 class="card-title mb-0">{box.name}</h3>
                        </div>

                        <p class="mb-0">{box.text}</p>
                        <span class={`btn-view ${box.view}`}>View</span>
                    </article>
                </div>
            </a>
        ))
    }
</section>

<style>
    .card-systems{
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
    }
    .card-systems .card {
        text-decoration: none;
        border: 1px solid #dfdfdf;
        border-radius: 0.3rem;
        transition: all 0.2s;
    }
    .card-systems .card:hover{
        background-color: #e3eed6;
    }

    .card-systems .content-card{
        display: flex;
        flex-direction: column;
    }

    .content-icon-name{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .card-systems .card .icon-boxed {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        color: #fff;
        font-size: 1rem;
        border-radius: 50%;
        background: #242323;
    }

    .card-systems .card .btn-view{
        display: inline-block;
        position: relative;
        text-decoration: none;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 600;
        background-color: transparent;
    }
    .card-systems .card .btn-view::before {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        content: "";
        position: absolute;
        top: 100%;
        display: block;
        width: calc(100% - 2px);
        height: 1px;
        background: currentColor;
        opacity: 0;
    }
    .card-systems .card:hover .btn-view::before,
    .card-systems .card:focus .btn-view::before {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        top: calc(100% + 2px);
        opacity: 1;
    }
</style>
