---
const boxes = [
    {
        link: "https://ips-pillar-assessments.vercel.app/",
        icon: "bi bi-clipboard2-check bg-danger",
        name: "Pillar Assessments",
        text: "Complete the assessment in the Checklist.",
        view: "text-danger"
    },
    {
        link: "#",
        icon: "bi bi-trophy bg-primary",
        name: "BOPs",
        text: "View and submit your best practice here!",
        view: "text-primary"
    },
]
---

<div class="overflow-visible">
    <section class="grid-main">
        <div class="box-grid">
            <section class="card-systems">
                {
                    boxes.map(box => (
                        <a class="card item animate__animated animate__bounceInLeft" href={box.link}>
                            <div class="card-body">
                                <div class="content-icon-name">
                                    <i class={`icon-boxed ${box.icon}`}></i>
                                    <h3 class="card-title mb-1">{box.name}</h3>
                                </div>

                                <p class="card-text mb-2">{box.text}</p>
                                <span class={`btn-view ${box.view}`}>View</span>
                            </div>
                        </a>
                    ))
                }
            </section>
        </div>

        <div class="box-grid"></div>
    </section>
</div>

<style is:inline>
    .grid-main{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px 20px;
        margin-top: -3.5rem;
        background-color: red;
    }
    .grid-main .box-grid{
        overflow: hidden;
        justify-self: stretch;
        align-self: stretch;
        background-color: blueviolet;
    }


    .card-systems{
        display: flex;
        flex-direction: column;
    }
    .card-systems .card {
        border-radius: 0.3rem;
        transition: all 0.2s;
        box-shadow: var(--bs-box-shadow) !important;
    }
    .card-systems .card:hover{
        background-color: #e3eed6;
    }

    .content-icon-name{
        display: flex;
        align-items: center;
    }

    .card-systems .card .icon-boxed {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        color: #fff;
        font-size: 1rem;
        border-radius: 50%;
        background: #242323;
    }

    .card-systems .card .btn-view{
        display: inline-block;
        position: relative;
        text-decoration: none;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 600;
        background-color: transparent;
    }
    .card-systems .card .btn-view::before {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        content: "";
        position: absolute;
        top: 100%;
        display: block;
        width: calc(100% - 2px);
        height: 1px;
        background: currentColor;
        opacity: 0;
    }
    .card-systems .card:hover .btn-view::before,
    .card-systems .card:focus .btn-view::before {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        top: calc(100% + 2px);
        opacity: 1;
    }



    @media (max-width: 576px) {
        .grid-main {
            grid-template-columns: 1fr;
        }
    }
</style>
