---
const boxes = [
    {
        link: "https://ips-two.vercel.app/dashboard/",
        icon: "bi bi-clipboard2-check bg-danger",
        name: "IPS",
        text: "Complete the assessment in the Checklist.",
        view: "text-danger"
    },
    {
        link: "#",
        icon: "bi bi-trophy bg-primary",
        name: "Best Practices",
        text: "View and submit your best practice here!",
        view: "text-primary"
    },
]
---

<div class="overflow-visible">
    <section class="grid-main">
        {
            boxes.map(box => (
                <a class="item animate__animated animate__bounceInLeft" href={box.link}>
                    <div class="card border-0">
                        <div class="card-body">
                            <i class={`icon-boxed ${box.icon}`}></i>
                            <h3 class="card-title mb-1">{box.name}</h3>
                            <p class="card-text mb-2">{box.text}</p>
                            <span class={`btn-view ${box.view}`}>View</span>
                        </div>
                    </div>
                </a>
            ))
        }
    </section>
</div>

<style is:inline>
    .grid-main{
        display: grid;
        justify-content: center;
        grid-template-columns: minmax(300px, 400px) minmax(300px, 400px);
        grid-template-rows: 1fr;
        gap: 20px 20px;
        margin-top: -3.5rem;
    }
    .grid-main .item{
        overflow: hidden;
        justify-self: stretch;
        align-self: stretch;
        margin-bottom: 1rem;
        text-align: center;
        text-decoration: none;
        border-radius: 0.3rem;
        transition: all 0.2s;
        box-shadow: var(--bs-box-shadow) !important;
    }

    .grid-main .item .card{
        transition: all 0.3s;
    }
    .grid-main .item .card:hover{
        background-color: #f0e6e6;
    }
    @media (max-width: 576px) {
        .grid-main {
            grid-template-columns: 1fr;
        }
    }
    .grid-main .item .icon-boxed {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        vertical-align: top;
        width: 5rem;
        height: 5rem;
        color: #fff;
        font-size: 2rem;
        border-radius: 50%;
        background: #242323;
    }

    .grid-main .item .btn-view{
        display: inline-block;
        position: relative;
        text-decoration: none;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 600;
        background-color: transparent;
    }
    .grid-main .item .btn-view::before {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        content: "";
        position: absolute;
        top: 100%;
        display: block;
        width: calc(100% - 2px);
        height: 1px;
        background: currentColor;
        opacity: 0;
    }
    .grid-main .item:hover .btn-view::before,
    .grid-main .item:focus .btn-view::before {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        top: calc(100% + 2px);
        opacity: 1;
    }
</style>
